<div class="card">
  <div class="card-header">
    <h4>Avioncito</h4>
  </div>
  <div class="card-body">
    <div [ngClass]="tipo=='danger'?'danger':'info'">
      <h3>Información</h3>
      <h4 class="seleccionada">Rueda seleccionada: {{seleccionada}}</h4>
      <h4>Evaluación: {{evaluacion}}</h4>
    </div>
    <app-rueda
      *ngFor="let rueda of ruedas"
      [identificador]="rueda.identificador"
      [marca]="rueda.marca"
      [precio]="rueda.precio"
      (ruedaSeleccionada)="recibirSeleccionRueda($event)"
      >
    </app-rueda>

  </div>
</div>



